{
  "plugins": [
    "transform-decorators-legacy",
    ["transform-class-properties", { "loose": true }],
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": false
      }
    ]
  ]
}
