{
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/syntax-object-rest-spread",
    ["babel-plugin-import", { "libraryName": "antd", "style": true }]
  ],
  "presets": ["@babel/env", "@babel/typescript", "@babel/react"]
}
