{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "rules": {
    "no-param-reassign": ["error", { "props": false }],
    "arrow-body-style": 0,
    "no-restricted-globals": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0,
    "react/jsx-closing-tag-location": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/require-default-props": 0,
    "import/prefer-default-export": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  }
}
